%section.performance-test-run
  %h1
    %span.suite-name= @suite.name
    %span.run-date= format_date(@suite_run.created_at)
    %span.run-time= format_time(@suite_run.created_at)

  - form_tag("/tests/compare") do
    %table.test-runs.render-to-pie-chart
      %tr
        %th Test
        %th Date
        %th Time
        %th Elapsed Seconds

      - @test_runs.each do |test_run|
        %tr
          %td.name
            = check_box_tag(:"include[]", :value => test_run.performance_test_id)
            = link_to(test_run.performance_test.name, "/tests/#{test_run.performance_test_id}")
          %td.date= format_date(test_run.created_at)
          %td.time= format_time(test_run.created_at)
          %td.elapsed_seconds= test_run.elapsed_seconds.round(3)

    = submit_tag("Compare")

  .actions= link_to("Back", "/suites/#{@suite.id}")
