%section.performance-test-run
  %h1
    %span.suite-name= @suite.name
    %span.run-date= format_date(@suite_run.created_at)
    %span.run-time= format_time(@suite_run.created_at)

  .pie-chart(data-source=".test-runs")

  = text_filter("Filter by tag(s)", ".test-runs tr:nth-child(n+2)", ".name .tag")

  - form_tag("/tests/compare") do
    %table.test-runs
      %tr
        %th.name Test
        %th.elapsed_seconds Elapsed Seconds
        %th.repetitions Repetitions
        %th.average Average Duration

      - @test_runs.each do |test_run|
        %tr
          %td.name
            = check_box_tag(:"include[]", :value => test_run.test_id)
            = link_to(test_run.test.name, "/tests/#{test_run.test_id}/#{@suite_run.id}")
            - test_run.tags.each do |tag|
              %span.tag= tag.name
          %td.elapsed_seconds= format_decimal(test_run.elapsed_seconds)
          %td.repetitions= test_run.repetitions
          %td.average= format_decimal(test_run.average)

    = submit_tag("Compare")

  .actions= link_to("Back", "/suites/#{@suite.id}")
