%section.performance-test-suite
  %h1= @suite.name

  .performance-test-suite-runs
    - @suite_runs.each do |run|
      %a(href="/suites/#{@suite.id}/#{run.id}")
        .day= format_day(run.created_at)
        .date= format_date(run.created_at)
        .time= format_time(run.created_at)
        .elapsed_seconds= format_decimal(run.total_elapsed_seconds)
        .changeset= run.changeset
        .comment= run.comment

  .actions= link_to("Back", "/")
