%section.performance-test-suite
  %h1
    = @suite.name
    = link_to("Back", "/projects/#{@suite.project_id}")

  %h2
    Viewing all changes |
    = link_to("View grouped by version", "/suites/versions/#{@suite.id}")

  %table.performance-test-suite-runs.render-to-spline-chart(data-value-columns="2" data-order="descending" data-limit="10")
    %tr
      %th.changeset Changeset
      %th.version Version
      %th.elapsed-seconds Elapsed seconds

    - @suite_runs.each do |run|
      %tr
        %td.changeset
          %a(href="/suites/#{@suite.id}/#{run.id}")= render_changeset(run)
          %span.date= format_date(run.created_at)
          %span.time= format_time(run.created_at)
        %td.version= run.version
        %td.elapsed-seconds= format_decimal(run.total_elapsed_seconds)
