%section.performance-test-suite
  %h1= @suite.name

  %table.performance-test-suite-runs.render-to-spline-chart(data-value-columns="4" data-order="descending")
    %tr
      %th.changeset Changeset
      %th.day Day
      %th.date Date
      %th.time Time
      %th.elapsed-seconds Elapsed seconds

    - @suite_runs.each do |run|
      %tr
        %td.changeset
          %a(href="/suites/#{@suite.id}/#{run.id}")=h "#{run.changeset}: #{run.comment}"
        %td.day= format_day(run.created_at)
        %td.date= format_date(run.created_at)
        %td.time= format_time(run.created_at)
        %td.elapsed_seconds= format_decimal(run.total_elapsed_seconds)

  .actions= link_to("Back", "/")
