%section.performance-test
  %h1= @test.name

  %h2= @test.suite.name

  %table.performance-test-runs.render-to-spline-chart(data-value-columns="3,4" data-order="descending")
    %tr
      %th.changeset Changeset
      %th.date Date
      %th.time Time
      - @tags.each do |tag_key|
        %th.tags= tag_key

    - @test_runs.each do |changeset, runs|
      %tr
        %td.changeset= render_changeset(runs.first.suite_run)
        %td.date= format_date(runs.first.created_at)
        %td.time= format_time(runs.first.created_at)
        - @tags.each do |tag_key|
          - run = runs.select { |r| r.tags_key == tag_key }.first
          %td.elapsed_seconds= format_decimal(run.elapsed_seconds)

  .actions= link_to("Back", "/suites/#{@test.suite_id}/latest")

  - if !@latest_run.wip?
    %textarea.code(data-mode="diff")=h @latest_run.changes
