%section.performance-test
  %h1= @test.name

  %h2= @test.performance_test_suite.name

  %ol.performance-test-runs
    - @test.performance_test_runs(:order => [:id.desc]).each do |run|
      %li
        .date= format_date(run.created_at)
        .time= format_time(run.created_at)
        .elapsed_seconds= run.elapsed_seconds

  = link_to "Back", "/"
