%section.performance-test
  %h1= @test.name

  %h2= @test.suite.name

  %table.performance-test-runs.render-to-spline-chart(data-value-columns="3,4" data-order="descending")
    %tr
      %th.changeset Changeset
      %th.date Date
      %th.time Time
      - @tags.each do |tag_key|
        %th.tags= tag_key

    - @test_runs.each do |suite_run, runs|
      %tr
        %td.changeset= render_changeset(suite_run)
        %td.date= format_date(suite_run.created_at)
        %td.time= format_time(suite_run.created_at)
        - @tags.each do |tag_key|
          %td.elapsed_seconds= format_decimal(runs[tag_key].elapsed_seconds)

  .actions= link_to("Back", "/suites/#{@test.suite_id}/latest")

- content_for(:supplemental) do
  %textarea.code(data-mode="diff")=h @latest_run.changes
