!!! 5
%html
  %head
    %title Perft
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed:300,400,700"
    = stylesheet_link_tag "codemirror"
    = stylesheet_link_tag "application"
    = javascript_include_tag "jquery-1.9.1.min"
    = javascript_include_tag "highcharts-3.0.1.min"
    = javascript_include_tag "hightables.min"
    = javascript_include_tag "codemirror"
    = javascript_include_tag "codemirror/diff"
    = javascript_include_tag "application"

  %body
    %header
      %h1= link_to("Perft", "/")

    %section.notices
      - if flash[:notice]
        .notice= flash[:notice]

    %section.session
      - if logged_in?
        = h("Logged in as #{current_user.name}.")
        = link_to("Log out", "/logout")
      - else
        = link_to("Log in", "/auth/github")

    = yield
