!!! 5
%html
  %head
    %title Perft
    = stylesheet_link_tag "application"
    = javascript_include_tag "jquery-1.9.1.min"
    = javascript_include_tag "highcharts-3.0.1.min"
    = javascript_include_tag "hightables.min"

  %body
    %header
      %h1= link_to("Perft", "/")

    %section.notices
      - if flash[:notice]
        .notice= flash[:notice]

    = yield
